.version.arduino /* version checker */
{
	color: #0000F7;
	background-color: #62825D;
}

.html
{
	background-color: #F9F9F9;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 663.9099999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F8F8F8;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 226px;
}

#pu5607
{
	width: 0.01px;
	margin-left: -11px;
}

#u5607
{
	z-index: 2;
	width: 971px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu4834
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 16px;
	margin-left: 20px;
}

#u4834
{
	z-index: 5;
	width: 931px;
	margin-right: -10000px;
}

#pu4834:hover #u4834
{
	width: 931px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

._u4834.f3s_top,#pu4834:hover ._u4834.f3s_top
{
	height: 123px;
	width: 931px;
}

#u5592
{
	z-index: 7;
	margin-right: -10000px;
	margin-top: 15px;
	left: 22px;
}

#u5659
{
	z-index: 9;
	width: 654px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 285px;
}

#menuu5675
{
	z-index: 11;
	width: 474px;
	margin-right: -10000px;
	margin-top: 193px;
	left: 422px;
}

#u5690
{
	width: 93px;
	min-height: 35px;
	margin-right: -10000px;
}

#u5691
{
	z-index: 14;
	width: 93px;
	height: 35px;
	margin-right: -10000px;
}

#pu5691:hover #u5691
{
	width: 93px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u5676
{
	width: 93px;
	min-height: 35px;
	margin-right: -10000px;
	left: 95px;
}

#u5677
{
	z-index: 24;
	width: 93px;
	height: 35px;
	margin-right: -10000px;
}

#pu5691:active #u5691,#pu5677:hover #u5677
{
	width: 93px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u5683
{
	width: 93px;
	min-height: 35px;
	margin-right: -10000px;
	left: 190px;
}

#u5686
{
	z-index: 34;
	width: 93px;
	height: 35px;
	margin-right: -10000px;
}

#pu5677:active #u5677,#pu5686:hover #u5686
{
	width: 93px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u5697
{
	width: 93px;
	min-height: 35px;
	margin-right: -10000px;
	left: 285px;
}

#u5698
{
	z-index: 44;
	width: 93px;
	height: 35px;
	margin-right: -10000px;
}

#pu5686:active #u5686,#pu5698:hover #u5698
{
	width: 93px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu5698:active #u5698
{
	width: 93px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu5691.MuseMenuActive #u5691,#pu5677.MuseMenuActive #u5677,#pu5686.MuseMenuActive #u5686,#pu5698.MuseMenuActive #u5698
{
	width: 93px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu5691.MuseMenuActive ._u5691.f3s_top,#pu5677.MuseMenuActive ._u5677.f3s_top,#pu5686.MuseMenuActive ._u5686.f3s_top,#pu5698.MuseMenuActive ._u5698.f3s_top
{
	height: 35px;
	width: 93px;
}

#u5694-4,#u5680-4,#u5689-4,#u5701-4
{
	width: 93px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u5704
{
	width: 94px;
	min-height: 35px;
	margin-right: -10000px;
	left: 380px;
}

#pu5691,#pu5677,#pu5686,#pu5698,#pu5705
{
	width: 0.01px;
}

#u5705
{
	z-index: 54;
	width: 94px;
	height: 35px;
	margin-right: -10000px;
}

#pu5705:hover #u5705
{
	width: 94px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu5705:active #u5705
{
	width: 94px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu5705.MuseMenuActive #u5705
{
	width: 94px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu5705.MuseMenuActive ._u5705.f3s_top
{
	height: 35px;
	width: 94px;
}

#u5707-4
{
	width: 94px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#pu5691:hover #u5694-4,#pu5691:active #u5694-4,#pu5691.MuseMenuActive #u5694-4,#pu5677:hover #u5680-4,#pu5677:active #u5680-4,#pu5677.MuseMenuActive #u5680-4,#pu5686:hover #u5689-4,#pu5686:active #u5689-4,#pu5686.MuseMenuActive #u5689-4,#pu5698:hover #u5701-4,#pu5698:active #u5701-4,#pu5698.MuseMenuActive #u5701-4,#pu5705:hover #u5707-4,#pu5705:active #u5707-4,#pu5705.MuseMenuActive #u5707-4
{
	margin-right: -10000px;
	top: 9px;
	left: 0px;
}

#pu5667
{
	width: 0.01px;
	margin-left: -14px;
	margin-top: 28px;
}

#u5667
{
	z-index: 62;
	width: 219px;
	margin-right: -10000px;
	left: -1px;
	padding: 22px 10px 10.299999999999955px;
}

#u5668-4
{
	z-index: 164;
	width: 170px;
	min-height: 16px;
	margin-left: 27px;
}

#menuu1761
{
	z-index: 63;
	width: 219px;
	margin-top: 15px;
}

#u1776
{
	width: 219px;
}

#u1779
{
	z-index: 66;
	width: 219px;
	height: 39px;
	margin-right: -10000px;
}

#pu1779:hover #u1779
{
	width: 219px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1763
{
	z-index: 76;
	width: 219px;
	height: 39px;
	margin-right: -10000px;
}

#pu1779:active #u1779,#pu1763:hover #u1763
{
	width: 219px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1793
{
	z-index: 86;
	width: 219px;
	height: 39px;
	margin-right: -10000px;
}

#pu1763:active #u1763,#pu1793:hover #u1793
{
	width: 219px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1786
{
	z-index: 96;
	width: 219px;
	height: 39px;
	margin-right: -10000px;
}

#pu1793:active #u1793,#pu1786:hover #u1786
{
	width: 219px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1770
{
	z-index: 106;
	width: 219px;
	height: 39px;
	margin-right: -10000px;
}

#pu1786:active #u1786,#pu1770:hover #u1770
{
	width: 219px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1805
{
	z-index: 116;
	width: 219px;
	height: 39px;
	margin-right: -10000px;
}

#pu1770:active #u1770,#pu1805:hover #u1805
{
	width: 219px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1937
{
	z-index: 126;
	width: 219px;
	height: 39px;
	margin-right: -10000px;
}

#pu1805:active #u1805,#pu1937:hover #u1937
{
	width: 219px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu1937:active #u1937
{
	width: 219px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu1779.MuseMenuActive ._u1779.f3s_top,#pu1763.MuseMenuActive ._u1763.f3s_top,#pu1793.MuseMenuActive ._u1793.f3s_top,#pu1786.MuseMenuActive ._u1786.f3s_top,#pu1770.MuseMenuActive ._u1770.f3s_top,#pu1805.MuseMenuActive ._u1805.f3s_top,#pu1937.MuseMenuActive ._u1937.f3s_top
{
	height: 39px;
	width: 219px;
}

#u1930
{
	z-index: 136;
	width: 219px;
	height: 40px;
	margin-right: -10000px;
}

#pu1930:hover #u1930
{
	width: 219px;
	height: 40px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1923
{
	z-index: 146;
	width: 219px;
	height: 40px;
	margin-right: -10000px;
}

#pu1930:active #u1930,#pu1923:hover #u1923
{
	width: 219px;
	height: 40px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1762,#u1790,#u1783,#u1769,#u1804,#u1934,#u1927,#u1920,#u1941
{
	width: 219px;
	margin-top: 2px;
}

#pu1779,#pu1763,#pu1793,#pu1786,#pu1770,#pu1805,#pu1937,#pu1930,#pu1923,#pu1944
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1944
{
	z-index: 156;
	width: 219px;
	height: 40px;
	margin-right: -10000px;
}

#pu1923:active #u1923,#pu1944:hover #u1944
{
	width: 219px;
	height: 40px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu1944:active #u1944
{
	width: 219px;
	height: 40px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu1779.MuseMenuActive #u1779,#pu1763.MuseMenuActive #u1763,#pu1793.MuseMenuActive #u1793,#pu1786.MuseMenuActive #u1786,#pu1770.MuseMenuActive #u1770,#pu1805.MuseMenuActive #u1805,#pu1937.MuseMenuActive #u1937,#pu1930.MuseMenuActive #u1930,#pu1923.MuseMenuActive #u1923,#pu1944.MuseMenuActive #u1944
{
	width: 219px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu1930.MuseMenuActive ._u1930.f3s_top,#pu1923.MuseMenuActive ._u1923.f3s_top,#pu1944.MuseMenuActive ._u1944.f3s_top
{
	height: 40px;
	width: 219px;
}

#u1780-4,#u1766-4,#u1796-4,#u1787-4,#u1771-4,#u1807-4,#u1938-4,#u1931-4,#u1924-4,#u1947-4
{
	width: 219px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#pu1779:hover #u1780-4,#pu1779:active #u1780-4,#pu1779.MuseMenuActive #u1780-4,#pu1763:hover #u1766-4,#pu1763:active #u1766-4,#pu1763.MuseMenuActive #u1766-4,#pu1793:hover #u1796-4,#pu1793:active #u1796-4,#pu1793.MuseMenuActive #u1796-4,#pu1786:hover #u1787-4,#pu1786:active #u1787-4,#pu1786.MuseMenuActive #u1787-4,#pu1770:hover #u1771-4,#pu1770:active #u1771-4,#pu1770.MuseMenuActive #u1771-4,#pu1805:hover #u1807-4,#pu1805:active #u1807-4,#pu1805.MuseMenuActive #u1807-4,#pu1937:hover #u1938-4,#pu1937:active #u1938-4,#pu1937.MuseMenuActive #u1938-4,#pu1930:hover #u1931-4,#pu1930:active #u1931-4,#pu1930.MuseMenuActive #u1931-4,#pu1923:hover #u1924-4,#pu1923:active #u1924-4,#pu1923.MuseMenuActive #u1924-4,#pu1944:hover #u1947-4,#pu1944:active #u1947-4,#pu1944.MuseMenuActive #u1947-4
{
	margin-right: -10000px;
	top: 10px;
	left: 0px;
}

#pu3935-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 308px;
}

#u3935-4
{
	z-index: 168;
	width: 217px;
	min-height: 52px;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	position: relative;
}

#u3936-39
{
	z-index: 172;
	width: 495px;
	min-height: 263px;
	margin-left: 40px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u3936-2,#u3936-4,#u3936-6,#u3936-8,#u3936-10,#u3936-12,#u3936-14,#u3936-16,#u3936-18,#u3936-20,#u3936-22,#u3936-24,#u3936-26,#u3936-28,#u3936-30,#u3936-32,#u3936-34,#u3936-36
{
	font-size: 18px;
	line-height: 27px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

