.version.dtmf_decoder /* version checker */
{
	color: #0000F7;
	background-color: #71987B;
}

.html
{
	background-color: #FAFAFA;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FAFAFA;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu5585
{
	width: 0.01px;
	margin-left: -52px;
}

#u5585
{
	z-index: 2;
	width: 1076px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u5585_img
{
	padding-right: 1px;
}

#u5506
{
	z-index: 4;
	width: 249px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 72px;
}

._u5506.f3s_top
{
	height: 119px;
	width: 249px;
	padding-bottom: 18px;
}

#u5503
{
	z-index: 91;
	width: 237px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 5px;
}

#menuu5711
{
	z-index: 93;
	width: 474px;
	margin-right: -10000px;
	margin-top: 204px;
	left: 504px;
}

#u5726
{
	width: 93px;
	min-height: 35px;
	margin-right: -10000px;
}

#u5727
{
	z-index: 96;
	width: 93px;
	height: 35px;
	margin-right: -10000px;
}

#pu5727:hover #u5727
{
	width: 93px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u5712
{
	width: 93px;
	min-height: 35px;
	margin-right: -10000px;
	left: 95px;
}

#u5713
{
	z-index: 106;
	width: 93px;
	height: 35px;
	margin-right: -10000px;
}

#pu5727:active #u5727,#pu5713:hover #u5713
{
	width: 93px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u5719
{
	width: 93px;
	min-height: 35px;
	margin-right: -10000px;
	left: 190px;
}

#u5722
{
	z-index: 116;
	width: 93px;
	height: 35px;
	margin-right: -10000px;
}

#pu5713:active #u5713,#pu5722:hover #u5722
{
	width: 93px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u5733
{
	width: 93px;
	min-height: 35px;
	margin-right: -10000px;
	left: 285px;
}

#u5734
{
	z-index: 126;
	width: 93px;
	height: 35px;
	margin-right: -10000px;
}

#pu5722:active #u5722,#pu5734:hover #u5734
{
	width: 93px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu5734:active #u5734
{
	width: 93px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu5727.MuseMenuActive #u5727,#pu5713.MuseMenuActive #u5713,#pu5722.MuseMenuActive #u5722,#pu5734.MuseMenuActive #u5734
{
	width: 93px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu5727.MuseMenuActive ._u5727.f3s_top,#pu5713.MuseMenuActive ._u5713.f3s_top,#pu5722.MuseMenuActive ._u5722.f3s_top,#pu5734.MuseMenuActive ._u5734.f3s_top
{
	height: 35px;
	width: 93px;
}

#u5730-4,#u5716-4,#u5725-4,#u5737-4
{
	width: 93px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u5740
{
	width: 94px;
	min-height: 35px;
	margin-right: -10000px;
	left: 380px;
}

#pu5727,#pu5713,#pu5722,#pu5734,#pu5741
{
	width: 0.01px;
}

#u5741
{
	z-index: 136;
	width: 94px;
	height: 35px;
	margin-right: -10000px;
}

#pu5741:hover #u5741
{
	width: 94px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu5741:active #u5741
{
	width: 94px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu5741.MuseMenuActive #u5741
{
	width: 94px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu5741.MuseMenuActive ._u5741.f3s_top
{
	height: 35px;
	width: 94px;
}

#u5743-4
{
	width: 94px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#pu5727:hover #u5730-4,#pu5727:active #u5730-4,#pu5727.MuseMenuActive #u5730-4,#pu5713:hover #u5716-4,#pu5713:active #u5716-4,#pu5713.MuseMenuActive #u5716-4,#pu5722:hover #u5725-4,#pu5722:active #u5725-4,#pu5722.MuseMenuActive #u5725-4,#pu5734:hover #u5737-4,#pu5734:active #u5737-4,#pu5734.MuseMenuActive #u5737-4,#pu5741:hover #u5743-4,#pu5741:active #u5743-4,#pu5741.MuseMenuActive #u5743-4
{
	margin-right: -10000px;
	top: 9px;
	left: 0px;
}

#pu5495
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 65px;
}

#u5495
{
	z-index: 5;
	width: 181px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	padding: 14px 9px 12.25px;
}

#u5502-4
{
	z-index: 87;
	width: 162px;
	min-height: 32px;
	margin-left: 9px;
}

#menuu2554
{
	z-index: 6;
	width: 180px;
	margin-top: 13px;
}

#u2595
{
	width: 180px;
}

#u2596
{
	z-index: 9;
	width: 180px;
	height: 38px;
	margin-right: -10000px;
}

#pu2596:hover #u2596
{
	width: 180px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u2626
{
	z-index: 19;
	width: 180px;
	height: 38px;
	margin-right: -10000px;
}

#pu2596:active #u2596,#pu2626:hover #u2626
{
	width: 180px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u4235
{
	z-index: 31;
	width: 120px;
	margin-right: -10000px;
}

#u2619
{
	z-index: 40;
	width: 180px;
	height: 38px;
	margin-right: -10000px;
}

#pu2626:active #u2626,#pu2619:hover #u2619
{
	width: 180px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu2619:active #u2619
{
	width: 180px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu2596.MuseMenuActive ._u2596.f3s_top,#pu2626.MuseMenuActive ._u2626.f3s_top,#pu2619.MuseMenuActive ._u2619.f3s_top
{
	height: 38px;
	width: 180px;
}

#u2598-4,#u2628-4,#u2621-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
}

#pu2596:hover #u2598-4,#pu2596:active #u2598-4,#pu2596.MuseMenuActive #u2598-4,#pu2626:hover #u2628-4,#pu2626:active #u2628-4,#pu2626.MuseMenuActive #u2628-4,#pu2619:hover #u2621-4,#pu2619:active #u2621-4,#pu2619.MuseMenuActive #u2621-4
{
	margin-right: -10000px;
	top: 10px;
	left: 0px;
}

#u2623,#u2616,#u2609
{
	width: 180px;
	margin-top: 2px;
}

#u2612
{
	z-index: 50;
	width: 180px;
	height: 39px;
	margin-right: -10000px;
}

#pu2612:hover #u2612
{
	width: 180px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu2612:active #u2612
{
	width: 180px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu2596.MuseMenuActive #u2596,#pu2626.MuseMenuActive #u2626,#pu2619.MuseMenuActive #u2619,#pu2612.MuseMenuActive #u2612
{
	width: 180px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu2612.MuseMenuActive ._u2612.f3s_top
{
	height: 39px;
	width: 180px;
}

#u2614-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
}

#pu2612:hover #u2614-4,#pu2612:active #u2614-4,#pu2612.MuseMenuActive #u2614-4
{
	margin-right: -10000px;
	top: 11px;
	left: 0px;
}

#u2624,#u2610
{
	width: 120px;
	left: 180px;
}

#u2631
{
	z-index: 62;
	width: 120px;
	margin-right: -10000px;
}

#u2659
{
	z-index: 71;
	width: 120px;
	margin-right: -10000px;
}

#u2625,#u4234,#u2611,#u2630,#u2658,#u2651
{
	width: 120px;
}

#pu2596,#pu2626,#pu4235,#pu2619,#pu2612,#pu2631,#pu2659,#pu2652
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u2652
{
	z-index: 80;
	width: 120px;
	margin-right: -10000px;
}

#u4237-4,#u2633-4,#u2662-4,#u2655-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#pu4235:hover #u4237-4,#pu4235.MuseMenuActive #u4237-4,#pu2631:hover #u2633-4,#pu2631.MuseMenuActive #u2633-4,#pu2659:hover #u2662-4,#pu2659.MuseMenuActive #u2662-4,#pu2652:hover #u2655-4,#pu2652.MuseMenuActive #u2655-4
{
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#pu4235:hover #u4235,#pu4235.MuseMenuActive #u4235,#pu2631:hover #u2631,#pu2631.MuseMenuActive #u2631,#pu2659:hover #u2659,#pu2659.MuseMenuActive #u2659,#pu2652:hover #u2652,#pu2652.MuseMenuActive #u2652
{
	width: 120px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

._u4235.f3s_top,#pu4235:hover ._u4235.f3s_top,#pu4235.MuseMenuActive ._u4235.f3s_top,._u2631.f3s_top,#pu2631:hover ._u2631.f3s_top,#pu2631.MuseMenuActive ._u2631.f3s_top,._u2659.f3s_top,#pu2659:hover ._u2659.f3s_top,#pu2659.MuseMenuActive ._u2659.f3s_top,._u2652.f3s_top,#pu2652:hover ._u2652.f3s_top,#pu2652.MuseMenuActive ._u2652.f3s_top
{
	height: 23px;
	width: 120px;
}

#pu4088-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin: 35px -10000px -3px 269px;
}

#u4088-4
{
	z-index: 144;
	width: 321px;
	min-height: 31px;
	line-height: 29px;
	font-size: 24px;
	font-weight: bold;
	position: relative;
}

#u4095
{
	z-index: 170;
	width: 498px;
	-pie-box-shadow: none;
	-moz-box-shadow: 7px 9px 8px rgba(127, 127, 127, 0.5);
	-webkit-box-shadow: 7px 9px 8px -1px rgba(127, 127, 127, 0.5);
	box-shadow: 7px 9px 8px rgba(127, 127, 127, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 36px;
	position: relative;
}

#u4089-22
{
	z-index: 148;
	width: 563px;
	min-height: 255px;
	margin-left: 289px;
	margin-top: 57px;
	position: relative;
}

#u4089-5,#u4089-6
{
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

#u4089-2,#u4089-3,#u4089-8,#u4089-10,#u4089-12,#u4089-14,#u4089-16,#u4089-18
{
	font-size: 18px;
	line-height: 22px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

