.version.index /* version checker */
{
	color: #0000FC;
	background-color: #A7C3EB;
}

.html
{
	background-color: #E0E0E0;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1127.9000000000133px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F5F3F4;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -33px;
	margin-bottom: -1px;
}

#pu5224
{
	width: 0.01px;
	margin-left: -10px;
}

#u5224
{
	z-index: 3;
	width: 980px;
	-pie-box-shadow: none;
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5226
{
	z-index: 5;
	width: 339px;
	-pie-box-shadow: 2px 1px 5px #848484;
	-moz-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.48);
	-webkit-box-shadow: 2px 1px 5px -1px rgba(0, 0, 0, 0.48);
	box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.48);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	-khtml-border-radius: 14px;
	border-radius: 14px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 108px;
	padding: 24px 34px 36px 391px;
}

#u5263-4
{
	z-index: 37;
	width: 230px;
	min-height: 24px;
	line-height: 30px;
	font-size: 25px;
	color: #00BD00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	left: -1px;
	position: relative;
}

#u5264-4
{
	z-index: 41;
	width: 339px;
	min-height: 135px;
	text-align: left;
	margin-top: 19px;
	position: relative;
}

#menuu5227
{
	z-index: 6;
	width: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 398px;
}

#u5228
{
	width: 93px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
}

#u5231
{
	width: 93px;
	position: relative;
}

._u5231.f3s_top
{
	background-image: url("../images/u5231-a-full.png");
	height: 35px;
	background-position: left top;
	width: 93px;
}

#u5232-4
{
	width: 93px;
	min-height: 17px;
	font-size: 14px;
	color: #000000;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 0px;
}

#u5242
{
	width: 93px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u5243
{
	width: 93px;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 18px;
	position: relative;
}

#u5243:hover
{
	background-color: #F2F3F4;
	margin: 0px;
}

#u5256
{
	width: 93px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u5259
{
	width: 93px;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 18px;
	position: relative;
}

#u5259:hover
{
	background-color: #F2F3F4;
	margin: 0px;
}

#u5249
{
	width: 93px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u5250
{
	width: 93px;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 18px;
	position: relative;
}

#u5250:hover
{
	background-color: #F2F3F4;
	margin: 0px;
}

#u5246-4,#u5262-4,#u5252-4
{
	width: 93px;
	min-height: 17px;
	color: #000000;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u5235
{
	width: 94px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	left: 380px;
}

#u5238
{
	width: 94px;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 18px;
	position: relative;
}

#u5238:hover
{
	background-color: #F2F3F4;
	margin: 0px;
}

#u5243:active,#u5259:active,#u5250:active,#u5238:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u5240-4
{
	width: 94px;
	min-height: 17px;
	color: #000000;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#slideshowu5324
{
	z-index: 99;
	width: 0.01px;
	height: 230px;
	position: relative;
	margin-right: -10000px;
	margin-top: 279px;
	left: 115px;
}

#u5329
{
	position: absolute;
	width: 353px;
	height: 232px;
	background-color: transparent;
	top: -1px;
	left: -1px;
}

#u5329popup
{
	z-index: 100;
}

#u5330
{
	z-index: 101;
	width: 351px;
	height: 230px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u5330_img
{
	padding-left: 3px;
	padding-right: 3px;
}

#u5332
{
	z-index: 103;
	width: 351px;
	height: 230px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u5332_img
{
	margin: -10px 6px;
}

#u5334
{
	z-index: 105;
	width: 351px;
	height: 230px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u5330 .clip_frame,#u5332 .clip_frame,#u5334 .clip_frame
{
	-webkit-border-radius: 9px 9px 9px 9px;
}

#u5332_clip,#u5334_clip
{
	overflow: hidden;
	width: 351px;
	height: 230px;
}

#u5334_img
{
	margin-left: -19px;
	margin-right: -19px;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5350
{
	z-index: 107;
	width: 947px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.84);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.84);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.84);
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 17px;
}

._u5350.f3s_top
{
	background-image: url("../images/u5350-full.png");
	height: 102px;
	background-position: left top;
	width: 947px;
	padding-bottom: 9px;
}

#u5352
{
	z-index: 109;
	width: 188px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 23px;
}

#u5355
{
	z-index: 112;
	width: 711px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 229px;
}

#pu5265
{
	width: 0.01px;
	margin-left: 99px;
	margin-top: 31px;
}

#u5265
{
	z-index: 45;
	width: 293px;
	-pie-box-shadow: 1px 1px 8px #A0A0A0;
	-moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.37);
	-webkit-box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.37);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.37);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	padding: 9px 6px 18px;
}

#u5266-4
{
	z-index: 46;
	width: 153px;
	min-height: 26px;
	line-height: 30px;
	font-size: 25px;
	color: #00AC00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 2px;
	position: relative;
}

#menuu5267
{
	z-index: 50;
	width: 293px;
	margin-top: 15px;
	position: relative;
}

#u5289
{
	width: 293px;
	position: relative;
}

#u5290
{
	width: 293px;
	min-height: 22px;
	background-color: #F4F4F4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u5290:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u5290:active
{
	background-color: #6B6B6B;
	margin: 0px -10000px 0px 0px;
}

#u5283
{
	width: 293px;
	min-height: 22px;
	background-color: #F4F4F4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u5290.MuseMenuActive,#u5283:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u5283:active
{
	background-color: #6B6B6B;
	margin: 0px -10000px 0px 0px;
}

#u5271
{
	width: 293px;
	min-height: 22px;
	background-color: #F4F4F4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u5283.MuseMenuActive,#u5271:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u5271:active
{
	background-color: #6B6B6B;
	margin: 0px -10000px 0px 0px;
}

#u5299
{
	width: 293px;
	min-height: 22px;
	background-color: #F4F4F4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u5271.MuseMenuActive,#u5299:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u5299:active
{
	background-color: #6B6B6B;
	margin: 0px -10000px 0px 0px;
}

#u5318
{
	width: 293px;
	min-height: 22px;
	background-color: #F4F4F4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u5299.MuseMenuActive,#u5318:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u5318:active
{
	background-color: #6B6B6B;
	margin: 0px -10000px 0px 0px;
}

#u5304
{
	width: 293px;
	min-height: 22px;
	background-color: #F4F4F4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u5318.MuseMenuActive,#u5304:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u5304:active
{
	background-color: #6B6B6B;
	margin: 0px -10000px 0px 0px;
}

#u5292-4,#u5284-4,#u5272-4,#u5301-4,#u5320-4,#u5307-4
{
	width: 293px;
	min-height: 22px;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u5278
{
	width: 293px;
	min-height: 22px;
	background-color: #F4F4F4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u5304.MuseMenuActive,#u5278:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u5278:active
{
	background-color: #6B6B6B;
	margin: 0px -10000px 0px 0px;
}

#u5282,#u5268,#u5296,#u5317,#u5303,#u5275,#u5310
{
	width: 293px;
	margin-top: 2px;
	position: relative;
}

#u5311
{
	width: 293px;
	min-height: 22px;
	background-color: #F4F4F4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u5278.MuseMenuActive,#u5311:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u5311:active
{
	background-color: #6B6B6B;
	margin: 0px -10000px 0px 0px;
}

#u5311.MuseMenuActive
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u5281-4,#u5314-4
{
	width: 293px;
	min-height: 22px;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#pu5357
{
	width: 0.01px;
	margin: -1px -10000px -1px 334px;
}

#u5357
{
	z-index: 114;
	width: 425px;
	-pie-box-shadow: 5px 4px 2px #636363;
	-moz-box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.61);
	-webkit-box-shadow: 5px 4px 2px -1px rgba(0, 0, 0, 0.61);
	box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.61);
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	padding-bottom: 15px;
	position: relative;
}

#u5358-4
{
	z-index: 115;
	width: 135px;
	min-height: 26px;
	font-size: 23px;
	line-height: 28px;
	color: #00AC00;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 44px;
}

#u5359-4
{
	z-index: 119;
	width: 237px;
	min-height: 28px;
	line-height: 30px;
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 188px;
}

#u5223
{
	z-index: 2;
	width: 426px;
	-pie-box-shadow: 3px 2px 6px #BABABA;
	-moz-box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.26999999999999996);
	-webkit-box-shadow: 3px 2px 6px -1px rgba(0, 0, 0, 0.26999999999999996);
	box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.26999999999999996);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #CCCCCC;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 12px;
	padding-bottom: 11px;
	margin-top: 19px;
	position: relative;
}

#u5354
{
	z-index: 111;
	width: 391px;
	height: 293px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 17px;
}

#u5351
{
	z-index: 108;
	width: 959px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #CCCCCC;
	padding-bottom: 25px;
	margin-top: 145px;
	position: relative;
}

#u5360-4
{
	z-index: 123;
	width: 279px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 312px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 22px;
}

#page .verticalspacer
{
	clear: both;
}

