.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 662px;
	min-height: 350px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 69px 143px 181px 155px;
}

#slideshowu69
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	position: relative;
}

#u80
{
	position: absolute;
	background-color: transparent;
}

#u80popup
{
	z-index: 3;
}

#u191
{
	z-index: 4;
	background: -webkit-gradient(linear, left center, right center, from(rgba(127, 127, 127, 0.33)),color-stop(100%, rgba(0, 0, 0, 0.56)));
	background: -webkit-linear-gradient(left,rgba(127, 127, 127, 0.33) ,rgba(0, 0, 0, 0.56) 100%);
	background: -moz-linear-gradient(left,rgba(127, 127, 127, 0.33) ,rgba(0, 0, 0, 0.56) 100%);
	background: -ms-linear-gradient(left,rgba(127, 127, 127, 0.33) ,rgba(0, 0, 0, 0.56) 100%);
	background: -o-linear-gradient(left,rgba(127, 127, 127, 0.33) ,rgba(0, 0, 0, 0.56) 100%);
	background: linear-gradient(to right,rgba(127, 127, 127, 0.33) ,rgba(0, 0, 0, 0.56) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#547F7F7F, endColorstr=#8E000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#547F7F7F', endColorstr='#8E000000', GradientType=1)";
	border-style: none;
	border-color: transparent;
}

#u233
{
	z-index: 6;
	background: -webkit-gradient(linear, left center, right center, from(rgba(127, 127, 127, 0.33)),color-stop(100%, rgba(0, 0, 0, 0.56)));
	background: -webkit-linear-gradient(left,rgba(127, 127, 127, 0.33) ,rgba(0, 0, 0, 0.56) 100%);
	background: -moz-linear-gradient(left,rgba(127, 127, 127, 0.33) ,rgba(0, 0, 0, 0.56) 100%);
	background: -ms-linear-gradient(left,rgba(127, 127, 127, 0.33) ,rgba(0, 0, 0, 0.56) 100%);
	background: -o-linear-gradient(left,rgba(127, 127, 127, 0.33) ,rgba(0, 0, 0, 0.56) 100%);
	background: linear-gradient(to right,rgba(127, 127, 127, 0.33) ,rgba(0, 0, 0, 0.56) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#547F7F7F, endColorstr=#8E000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#547F7F7F', endColorstr='#8E000000', GradientType=1)";
	border-style: none;
	border-color: transparent;
}

#u191_img,#u233_img
{
	opacity: 0.33;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
	filter: alpha(opacity=33);
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu242-5
{
	width: 0.01px;
	margin-left: 88px;
	margin-top: 58px;
	position: relative;
}

#u242-5
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u248-4
{
	z-index: 13;
	width: 313px;
	min-height: 37px;
	line-height: 58px;
	font-size: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 200px;
}

#u280
{
	z-index: 17;
	width: 106px;
	margin-left: 278px;
	margin-top: 35px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

