.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 962px;
	margin-left: auto;
	margin-right: auto;
}

._page.f3s_top
{
	width: 962px;
	background-image: url("../images/page-sprite2.png");
	overflow: hidden;
	height: 209px;
	background-position: left top;
}

._page.f3s_mid
{
	background-image: url("../images/page-sprite2.png");
	overflow: visible;
	background-position: -962px top;
	width: 962px;
	min-height: 253px;
	padding-bottom: 0px;
}

._page.f3s_bot
{
	width: 962px;
	background-image: url("../images/page-sprite2.png");
	overflow: visible;
	height: 209px;
	background-position: -1924px top;
}

#page_position_content
{
	margin-top: -208px;
	margin-bottom: -146px;
}

#pu3551
{
	width: 0.01px;
	margin-left: 21px;
	position: relative;
}

#u3551
{
	z-index: 83;
	width: 920px;
	height: 20px;
	margin-right: -10000px;
}

#u3552
{
	z-index: 84;
	width: 920px;
	margin-right: -10000px;
	margin-top: 17px;
}

._u3552.f3s_top
{
	height: 75px;
	width: 920px;
	padding-bottom: 2px;
}

#u3553
{
	z-index: 85;
	width: 97px;
	margin-right: -10000px;
	margin-top: -2px;
	left: 23px;
}

#u3553_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#menuu3557
{
	z-index: 89;
	width: 334px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 540px;
}

#u3606
{
	width: 56px;
	min-height: 34px;
	margin-right: -10000px;
}

#u3609
{
	z-index: 92;
	width: 56px;
	height: 34px;
	margin-right: -10000px;
}

#pu3609:hover ._u3609.f3s_top
{
	height: 34px;
	width: 56px;
}

#pu3609:active ._u3609.f3s_top
{
	height: 34px;
	width: 56px;
}

#pu3609.MuseMenuActive ._u3609.f3s_top
{
	height: 34px;
	width: 56px;
}

#u3610-4
{
	width: 34px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 11px;
}

#pu3609:hover #u3610-4,#pu3609:active #u3610-4,#pu3609.MuseMenuActive #u3610-4
{
	margin-right: -10000px;
	top: 7px;
	left: 11px;
}

#pu3609:hover #u3609,#pu3609:active #u3609,#pu3609.MuseMenuActive #u3609
{
	width: 56px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u3613
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 58px;
}

#u3637
{
	z-index: 102;
	width: 88px;
	height: 34px;
	margin-right: -10000px;
}

#pu3637:hover ._u3637.f3s_top
{
	height: 34px;
	width: 88px;
}

#pu3637:active ._u3637.f3s_top
{
	height: 34px;
	width: 88px;
}

#pu3637.MuseMenuActive ._u3637.f3s_top
{
	height: 34px;
	width: 88px;
}

#u3638-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 10px;
}

#pu3637:hover #u3637,#pu3637:active #u3637,#pu3637.MuseMenuActive #u3637
{
	width: 88px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u3614
{
	width: 147px;
	top: 34px;
}

#u3631
{
	z-index: 114;
	width: 147px;
	margin-right: -10000px;
}

._u3631.f3s_top
{
	height: 23px;
	width: 147px;
}

#pu3631:hover ._u3631.f3s_top
{
	height: 23px;
	width: 147px;
}

#u3634-4
{
	width: 117px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 11px;
}

#pu3631:hover #u3634-4,#pu3631.MuseMenuActive #u3634-4
{
	margin-right: -10000px;
	top: 3px;
	left: 11px;
}

#u3619
{
	z-index: 123;
	width: 147px;
	margin-right: -10000px;
}

#pu3631.MuseMenuActive ._u3631.f3s_top,._u3619.f3s_top
{
	height: 23px;
	width: 147px;
}

#pu3619:hover ._u3619.f3s_top
{
	height: 23px;
	width: 147px;
}

#u3622-4
{
	width: 131px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 4px;
}

#pu3619:hover #u3622-4,#pu3619.MuseMenuActive #u3622-4
{
	margin-right: -10000px;
	top: 3px;
	left: 4px;
}

#u3615,#u3630,#u3616,#u3623
{
	width: 147px;
}

#u3624
{
	z-index: 132;
	width: 147px;
	margin-right: -10000px;
}

#pu3619.MuseMenuActive ._u3619.f3s_top,._u3624.f3s_top
{
	height: 23px;
	width: 147px;
}

#pu3624:hover ._u3624.f3s_top
{
	height: 23px;
	width: 147px;
}

#pu3624.MuseMenuActive ._u3624.f3s_top
{
	height: 23px;
	width: 147px;
}

#u3625-4
{
	width: 28px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 55px;
}

#pu3624:hover #u3625-4,#pu3624.MuseMenuActive #u3625-4
{
	margin-right: -10000px;
	top: 3px;
	left: 55px;
}

#pu3631:hover #u3631,#pu3631.MuseMenuActive #u3631,#pu3619:hover #u3619,#pu3619.MuseMenuActive #u3619,#pu3624:hover #u3624,#pu3624.MuseMenuActive #u3624
{
	width: 147px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u3558
{
	width: 80px;
	min-height: 34px;
	margin-right: -10000px;
	left: 148px;
}

#u3559
{
	z-index: 141;
	width: 80px;
	height: 34px;
	margin-right: -10000px;
}

#pu3559:hover ._u3559.f3s_top
{
	height: 34px;
	width: 80px;
}

#pu3559:active ._u3559.f3s_top
{
	height: 34px;
	width: 80px;
}

#pu3559.MuseMenuActive ._u3559.f3s_top
{
	height: 34px;
	width: 80px;
}

#u3560-4
{
	width: 59px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 10px;
}

#pu3559:hover #u3559,#pu3559:active #u3559,#pu3559.MuseMenuActive #u3559
{
	width: 80px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u3563
{
	width: 120px;
	top: 34px;
}

#u3568
{
	z-index: 153;
	width: 120px;
	margin-right: -10000px;
}

._u3568.f3s_top
{
	height: 23px;
	width: 120px;
}

#pu3568:hover ._u3568.f3s_top
{
	height: 23px;
	width: 120px;
}

#u3569-4
{
	width: 42px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 35px;
}

#pu3568:hover #u3569-4,#pu3568.MuseMenuActive #u3569-4
{
	margin-right: -10000px;
	top: 3px;
	left: 35px;
}

#u3573
{
	z-index: 162;
	width: 120px;
	margin-right: -10000px;
}

#pu3568.MuseMenuActive ._u3568.f3s_top,._u3573.f3s_top
{
	height: 23px;
	width: 120px;
}

#pu3573:hover ._u3573.f3s_top
{
	height: 23px;
	width: 120px;
}

#u3575-4
{
	width: 56px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 28px;
}

#pu3573:hover #u3575-4,#pu3573.MuseMenuActive #u3575-4
{
	margin-right: -10000px;
	top: 3px;
	left: 28px;
}

#u3582
{
	z-index: 171;
	width: 120px;
	margin-right: -10000px;
}

#pu3573.MuseMenuActive ._u3573.f3s_top,._u3582.f3s_top
{
	height: 23px;
	width: 120px;
}

#pu3582:hover ._u3582.f3s_top
{
	height: 23px;
	width: 120px;
}

#u3585-4
{
	width: 28px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 42px;
}

#pu3582:hover #u3585-4,#pu3582.MuseMenuActive #u3585-4
{
	margin-right: -10000px;
	top: 3px;
	left: 42px;
}

#u3586
{
	width: 104px;
	min-height: 34px;
	margin-right: -10000px;
	left: 230px;
}

#pu3609,#pu3637,#pu3559,#pu3589
{
	width: 0.01px;
	position: relative;
}

#u3589
{
	z-index: 180;
	width: 104px;
	height: 34px;
	margin-right: -10000px;
}

#pu3589:hover ._u3589.f3s_top
{
	height: 34px;
	width: 104px;
}

#pu3589:active ._u3589.f3s_top
{
	height: 34px;
	width: 104px;
}

#pu3589.MuseMenuActive ._u3589.f3s_top
{
	height: 34px;
	width: 104px;
}

#u3591-4
{
	width: 83px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 10px;
}

#pu3637:hover #u3638-4,#pu3637:active #u3638-4,#pu3637.MuseMenuActive #u3638-4,#pu3559:hover #u3560-4,#pu3559:active #u3560-4,#pu3559.MuseMenuActive #u3560-4,#pu3589:hover #u3591-4,#pu3589:active #u3591-4,#pu3589.MuseMenuActive #u3591-4
{
	margin-right: -10000px;
	top: 7px;
	left: 10px;
}

#pu3589:hover #u3589,#pu3589:active #u3589,#pu3589.MuseMenuActive #u3589
{
	width: 104px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u3555
{
	z-index: 87;
	width: 320px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 120px;
}

#pmenuu2554
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 11px;
	position: relative;
}

#menuu2554
{
	z-index: 2;
	width: 180px;
	margin-right: -10000px;
}

#u2595
{
	width: 180px;
}

#u2596
{
	z-index: 5;
	width: 180px;
	margin-right: -10000px;
}

._u2596.f3s_top
{
	height: 43px;
	width: 180px;
}

#pu2596:hover ._u2596.f3s_top
{
	height: 43px;
	width: 180px;
}

#pu2596:active ._u2596.f3s_top
{
	height: 43px;
	width: 180px;
}

#u2626
{
	z-index: 15;
	width: 180px;
	margin-right: -10000px;
}

#pu2596.MuseMenuActive ._u2596.f3s_top,._u2626.f3s_top
{
	height: 43px;
	width: 180px;
}

#pu2626:hover ._u2626.f3s_top
{
	height: 43px;
	width: 180px;
}

#pu2626:active ._u2626.f3s_top
{
	height: 43px;
	width: 180px;
}

#u4235
{
	z-index: 27;
	width: 120px;
	margin-right: -10000px;
}

#pu3582.MuseMenuActive ._u3582.f3s_top,._u4235.f3s_top
{
	height: 23px;
	width: 120px;
}

#pu4235:hover ._u4235.f3s_top
{
	height: 23px;
	width: 120px;
}

#u2619
{
	z-index: 36;
	width: 180px;
	margin-right: -10000px;
}

#pu2626.MuseMenuActive ._u2626.f3s_top,._u2619.f3s_top
{
	height: 43px;
	width: 180px;
}

#pu2619:hover ._u2619.f3s_top
{
	height: 43px;
	width: 180px;
}

#pu2619:active ._u2619.f3s_top
{
	height: 43px;
	width: 180px;
}

#u2623,#u2616,#u2609
{
	width: 180px;
	margin-top: 2px;
}

#u2612
{
	z-index: 46;
	width: 180px;
	margin-right: -10000px;
}

#pu2619.MuseMenuActive ._u2619.f3s_top,._u2612.f3s_top
{
	height: 43px;
	width: 180px;
}

#pu2612:hover ._u2612.f3s_top
{
	height: 43px;
	width: 180px;
}

#pu2612:active ._u2612.f3s_top
{
	height: 43px;
	width: 180px;
}

#pu2612.MuseMenuActive ._u2612.f3s_top
{
	height: 43px;
	width: 180px;
}

#u2598-4,#u2628-4,#u2621-4,#u2614-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#pu2596:hover #u2598-4,#pu2596:active #u2598-4,#pu2596.MuseMenuActive #u2598-4,#pu2626:hover #u2628-4,#pu2626:active #u2628-4,#pu2626.MuseMenuActive #u2628-4,#pu2619:hover #u2621-4,#pu2619:active #u2621-4,#pu2619.MuseMenuActive #u2621-4,#pu2612:hover #u2614-4,#pu2612:active #u2614-4,#pu2612.MuseMenuActive #u2614-4
{
	margin-right: -10000px;
	top: 13px;
	left: 0px;
}

#pu2596:hover #u2596,#pu2596:active #u2596,#pu2596.MuseMenuActive #u2596,#pu2626:hover #u2626,#pu2626:active #u2626,#pu2626.MuseMenuActive #u2626,#pu2619:hover #u2619,#pu2619:active #u2619,#pu2619.MuseMenuActive #u2619,#pu2612:hover #u2612,#pu2612:active #u2612,#pu2612.MuseMenuActive #u2612
{
	width: 180px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u2624,#u2610
{
	width: 120px;
	left: 180px;
}

#u2631
{
	z-index: 58;
	width: 120px;
	margin-right: -10000px;
}

#pu4235.MuseMenuActive ._u4235.f3s_top,._u2631.f3s_top
{
	height: 23px;
	width: 120px;
}

#pu2631:hover ._u2631.f3s_top
{
	height: 23px;
	width: 120px;
}

#u2659
{
	z-index: 67;
	width: 120px;
	margin-right: -10000px;
}

#pu2631.MuseMenuActive ._u2631.f3s_top,._u2659.f3s_top
{
	height: 23px;
	width: 120px;
}

#pu2659:hover ._u2659.f3s_top
{
	height: 23px;
	width: 120px;
}

#u3564,#u3565,#u3572,#u3579,#u2625,#u4234,#u2611,#u2630,#u2658,#u2651
{
	width: 120px;
}

#pu3631,#pu3619,#pu3624,#pu3568,#pu3573,#pu3582,#pu2596,#pu2626,#pu4235,#pu2619,#pu2612,#pu2631,#pu2659,#pu2652
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u2652
{
	z-index: 76;
	width: 120px;
	margin-right: -10000px;
}

#pu2659.MuseMenuActive ._u2659.f3s_top,._u2652.f3s_top
{
	height: 23px;
	width: 120px;
}

#pu2652:hover ._u2652.f3s_top
{
	height: 23px;
	width: 120px;
}

#pu2652.MuseMenuActive ._u2652.f3s_top
{
	height: 23px;
	width: 120px;
}

#u4237-4,#u2633-4,#u2662-4,#u2655-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#pu4235:hover #u4237-4,#pu4235.MuseMenuActive #u4237-4,#pu2631:hover #u2633-4,#pu2631.MuseMenuActive #u2633-4,#pu2659:hover #u2662-4,#pu2659.MuseMenuActive #u2662-4,#pu2652:hover #u2655-4,#pu2652.MuseMenuActive #u2655-4
{
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#pu3568:hover #u3568,#pu3568.MuseMenuActive #u3568,#pu3573:hover #u3573,#pu3573.MuseMenuActive #u3573,#pu3582:hover #u3582,#pu3582.MuseMenuActive #u3582,#pu4235:hover #u4235,#pu4235.MuseMenuActive #u4235,#pu2631:hover #u2631,#pu2631.MuseMenuActive #u2631,#pu2659:hover #u2659,#pu2659.MuseMenuActive #u2659,#pu2652:hover #u2652,#pu2652.MuseMenuActive #u2652
{
	width: 120px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu4065-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 239px;
}

#u4065-4
{
	z-index: 188;
	width: 316px;
	min-height: 28px;
	line-height: 29px;
	font-size: 24px;
	font-weight: bold;
	position: relative;
}

#u4066
{
	z-index: 192;
	width: 377px;
	-pie-box-shadow: none;
	-moz-box-shadow: 8px 11px 8px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 8px 11px 8px -1px rgba(0, 0, 0, 0.18);
	box-shadow: 8px 11px 8px rgba(0, 0, 0, 0.18);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	margin-left: 100px;
	margin-top: 23px;
	position: relative;
}

#u4072-23
{
	z-index: 194;
	width: 580px;
	min-height: 107px;
	margin-left: 271px;
	margin-top: 53px;
	position: relative;
}

#u4072-3
{
	font-size: 18px;
	text-align: justify;
	line-height: 27px;
}

#u4072-6
{
	font-size: 18px;
	line-height: 27px;
	font-weight: bold;
}

#u4072,#u4072-4,#u4072-7,#u4072-9,#u4072-11,#u4072-13,#u4072-15,#u4072-17
{
	font-size: 18px;
	line-height: 27px;
}

#u4072-18,#u4072-19,#u4072-20
{
	line-height: 21px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

