.version.index /* version checker */
{
	color: #00001C;
	background-color: #ABEEF9;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #E0E0E0;
}

#page
{
	z-index: 1;
	width: 121px;
	min-height: 52px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F5F3F4;
	padding: 19px 229px 499px 30px;
}

#u5979
{
	z-index: 2;
	width: 121px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

